.poster {
  width: 65px40px;
  padding: 65px;
  border: 70px black;
  margin: 70x;
  background-color: red;
}
h1 {
  font-size: 55px;
  text-align: left;
  color: black;
}

h3 {
  font-size: 40px;
  text-align: left;
  color: black;
}

p {
  font-size: 40px;
  text-align: left;
  color: white;
}
